{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="well">
            <h3>Login</h3>
            <form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
                {{form.as_p}}
                <p><input type='submit' value='Submit'></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
