<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Elecciones{% endblock %}</title>
</head>
<body>

<div class="container">
<ul>
	<li><a href="{%url 'elecciones:listacircunscripciones'%}">Lista de circunscripciones</a></li>

	{%if user.is_anonymous%}

	<li><a href="{%url 'elecciones:login'%}">Login</a></li>

	{%else%}

	<li>Bienvenido {{user.username}}</li>

	<li><a href="{%url 'elecciones:logout'%}?next=/">Logout</a></li>

	{%endif%}
</ul>
	{% block content %}{% endblock content %}
</div>
</body>
</html>
