{% extends "base.html" %}

{% block title %}Detalles de la mesa electoral{% endblock title %}

{% block content %}
<h3>Detalles de la mesa electoral</h3>
<p>Nombre: {{ mesa.nombre }}</p>
<p>Circunscripción: {{ mesa.circunscripcion.nombre }}</p>

{% if resultados %}
	<table>
		<thead>
			<tr>
				<th>Partido</th>
				<th>Votos</th>
			</tr>
		</thead>
		<tbody>
		{% for r in resultados %}
			<tr>
				<td>{{ r.partido.nombre }}</td>
				<td>{{ r.votos }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if request.user %}
	<small><a href="{% url 'elecciones:editarresultados' mesa.id %}">Editar resultados</a></small>
{% endif %}
{% endblock content %}