{% extends "base.html" %}

{% block title %}Mesas electorales{% endblock title %}

{% block content %}
<h3>Listado de mesas electorales</h3>
{% if mesas %}
	<ul>
	{% for m in mesas %}
		<li><a href="{% url 'elecciones:detallesmesa' m.id %}">{{ m.nombre }}</a> 
		{% if request.user.is_staff %}
		<small><a href="{% url 'elecciones:editarmesa' m.id %}">Editar</a></small>
		<form style="display:inline" action="{% url 'elecciones:eliminarmesa' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ m.id }}" name="id">
			<button onclick="return confirm('Desea eliminar esta mesa electoral?');" type="submit">Eliminar</button>
		</form>
		{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No existe ninguna mesa electoral.</p>
{% endif %}
{% if request.user.is_staff %}
	<small><a href="{% url 'elecciones:nuevamesa' idcir %}">Añadir nueva mesa</a></small>
{% endif %}
<hr>
<h3> Resultados de la circunscripción</h3>
{% if resultados %}
	<table>
		<thead>
			<tr>
				<th>Partido</th>
				<th>Votos</th>
				<th>Escaños</th>
			</tr>
		</thead>
		<tbody>
		{% for r in resultados %}
			<tr>
				<td>{{ r.partido.nombre }}</td>
				<td>{{ r.recuento }}</td>
				<td>{{ r.esc }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock content %}