{% extends "base.html" %}

{% block title %}Circunscripciones{% endblock title %}

{% block content %}
<h3>Listado de circunscripciones</h3>
{% if circunscripciones %}
	<ul>
	{% for c in circunscripciones %}
		<li><a href="{% url 'elecciones:listamesas' c.id %}">{{ c.nombre }}</a> ({{ c.num_esc }} escaños) 
		{% if request.user.is_staff %}
		<small><a href="{% url 'elecciones:editarcircunscripcion' c.id %}">Editar</a></small>
		<form style="display:inline" action="{% url 'elecciones:eliminarcircunscripcion' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ c.id }}" name="id">
			<button onclick="return confirm('Desea eliminar esta circunscripción?');" type="submit">Eliminar</button>
		</form>
		{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No existe ninguna circunscripción.</p>
{% endif %}
{% if request.user.is_staff %}
	<small><a href="{% url 'elecciones:nuevacircunscripcion' %}">Añadir circunscripción</a></small>
{% endif %}
{% endblock content %}